{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}CheckIn{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% if not projects %}
        <div>
            <p>You've got no projects yet.</p>
            <p>Go <a href="{{ url_for('projects.create') }}">create</a> one.</p>
        </div>
    {% else %}
        {% for project in projects %}
            <div>
                <span>{{ project['external_id'] }} : {{ project['label'] }} - <a href="{{ url_for('hours.start', project_id=project['id']) }}">Go to work</a></span>
                <br>
                <a href="url_for(hours.addManual, id=project['id'])">...or enter manually.</a>
            </div>
        {% endfor %}
    {% endif%}
{% endblock %}

