{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Dashboard{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% for h in hours %}
        <div>
            <span>{{ h['external_id'] }} : {{ h['label'] }} - {{ h['start_time'] }}
                <form action="{{ url_for('hours.delete', id=h['id']) }}" method="POST">
                    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
                </form>
            </span>
        </div>
    {% endfor %}   

    <span><a href="{{ url_for('landing.dashboard') }}">Go back</a></span>     
{% endblock %}