{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Export hours{% endblock %}</h1>
{% endblock %}

{% block content %}
    <h2>Hours export:</h2>
    {% for h in hours %}
        <p>{{ h['external_id'] }} : {{ h['label'] }}: Started {{ h['start_time'].strftime('%d.%m.%Y %H:%M') }} for {{ h['total_time']|round(2) }}h</p>
    {% endfor %}

    <h3>Hours total: {{ summary|round(2) }} </h3>
    <form action="{{ url_for('hours.csvExport', id=id) }}" method="POST">
        <input type="submit" value="Export CSV">
    </form>

    <span><a href="{{ url_for('landing.dashboard') }}">Go back</a></span>
{% endblock %}