{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Edit project{% endblock %}</h1>
{% endblock %}

{% block content%}
    <h2>Update your project details</h2>


    <form method="POST">
        <label for="label">Project Label</label>
        <input name="label" id="label" value="{{ project['label'] }}" required>

        <label for="number">Project Number</label>
        <input name="number" id="number" value="{{ project['number'] }}" required>

        <input type="submit" value="submit">
    </form>

    <span><a href="{{ url_for('landing.dashboard') }}">Go back</a></span>

{% endblock %}