{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Dashboard{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% if running %}
        <div>
            <h2>You're currently checked in.</h2>
            <span>Time running since: {{ running['start_time'].strftime('%H:%M') }} for Project {{ running['external_id'] }} - {{ running['label'] }}</span> 
            <a href="{{ url_for('hours.stop', id=running['id']) }}">CheckOut</a>              
        </div>
    {% else %}
        <div>
            <h2><a href="{{ url_for('hours.checkIn') }}">CheckIn</a></h2>
        </div>
    {% endif %}
    <hr>
    {% if recent %}
        <h2>Recent activities:</h2>
        {% for dataset in recent %}
            <div>
                <h3>Project: {{ dataset['external_id'] }} - {{ dataset['label'] }}</h3>
                <div>On {{ dataset['start_time'].strftime('%d.%m.%Y') }} for {{ dataset['total_time']|round(2) }}h </div>
            </div>
        {% endfor %}
    {% endif %}
    <hr>
    <div>
        <div>
            <h2>Projects</h2>
            <a href="{{ url_for('projects.create') }}">New Project</a>
        </div>
        <br>
        <hr>
        {% for project in projects %}
            <div>
                <span>{{ project['external_id'] }} : {{ project['label'] }} 
                    <pre><a href="{{ url_for('projects.edit', id=project['id']) }}">Manage</a> <a href="{{ url_for('projects.export', id=project['id']) }}">Export hours</a> <a href="{{ url_for('hours.delete', id=project['id']) }}">Delete hours</a></pre>
                    <hr>                    
                </span>
            </div>
        {% endfor %}        
    </div>

{% endblock %}