<!doctype html>

<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Time registration webapp">
    <meta name="author" content="JuliusNeudecker">    

    <title>SimpleTimeRegistration</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>

<body>
    <h1>SimpleTimeRegistration</h1>

    <button class="button button1">LOG TIME</button>
    <button class="button button1">VIEW</button>
    <button class="button button1">EXPORT</button>
    <button class="button button1">LOGOUT</button>            

</body>
</html>